@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --main-color: #32cd32;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vh;
    margin: 20px auto;
}

body{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Tạo grid column vs row */
.grid-container{
    height: auto;
    max-width: 1066px;
    background: #B0E0E6;
    display: grid;
    padding: 30px;
    gap: 10px;
    grid-template-columns: 4fr;
    
}

.grid-2{
	display: grid;
  	grid-template-columns: 2fr 1.6fr;
    gap: 10px;
}

.grid-container > div{
    padding: 20px 0;
    font-size: 20px;
}

/* Header */
#header{
    background: white;
    padding: 15px;
    border-radius: 15px;
}

img{
    padding: 15px;
    margin-top: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.grid-1 .information{
    display: flex;
}

.name{
    color: var(--main-color);
    margin-left: 50px;
}

.module{
    margin-left: 180px;
    margin-bottom: 10px;
}

.module-title{
    display: flex;
    color: #999;
}

.module-title p{
    display: inline;
    margin-left: 10px;
}

.module-title-left{
    padding-left: 20px;
}

.module-title-right{
    padding-left: 20px;
}
.module-content{
    padding: 15px;
    color: #999;
}

/* layout */


.des{
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgb(97 97 97 / 15%);
}

.education-layout{
    height: 240px;
}

.work-layout{
    height: 380px;
}

.part-above{
    display: inline block;
    padding: 16px;
    color: var(--main-color);
    border-bottom: 2px solid #eaeaea;
    font-size: 18px;
    position: relative;
}

.part-above .above-right{
    float: right;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 23px;
}

.part-above h4{
    display: inline;
    padding: 10px;
}

.edu-below{
    padding: 16px;
}

.section-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.edu-school{
    color: var(--main-color);
    font-size: 22px;
}

.section-info .edu-date{
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 15px;
    float: right;
    background-color: #e5f7ed;
    color: var(--main-color);
}

.content-des {
    font-size: 18px;
}